

.custom-image{
	height: 500px;

}

.jpg1{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%281%29.jpg');
	background-size: 100% 100%;	
}

.jpg2{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%282%29.jpg');
	background-size: 100% 100%;	
}
.jpg3{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%283%29.jpg');
	background-size: 100% 100%;	
}
.jpg4{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%284%29.jpg');
	background-size: 100% 100%;	
}
.jpg5{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%285%29.jpg');
	background-size: 100% 100%;	
}
.jpg6{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%281%29.jpg');
	background-size: 100% 100%;	
}
.jpg7{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%282%29.jpg');
	background-size: 100% 100%;	
}
.jpg8{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%283%29.jpg');
	background-size: 100% 100%;	
}
.jpg4{
	background-image: url('http://ovj2zrj7v.bkt.clouddn.com/paomadeng1%20%285%29.jpg');
	background-size: 100% 100%;	
}






