.ten{
	width: 90%;
	margin: 50px auto;
	display: flex;
}
.renzheng{
	width: 50px;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	border: 1px solid #ccc;
}
.renzheng>h2{
	margin-top: 20px;
	color: gray;
}

.tenPic{
	width: 90%;
	margin-left: 20px;
}
.tenTop,.tenBotm{
	display: flex;
}
.tenTop>img,.tenBotm>img{
	display: block;
	width: 20%;
	height: 8%;
	margin-left: 20px;
	border: 1px solid #ccc;
}
.tenBotm{
	margin-top: 20px;
}