.twoShow{
	width: 80%;
	margin: 0 auto;
	height: 1000px;
	border: 1px solid #ccc;
}
.ant-tabs-tabpane>div{
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
}

.hetong h1{
	text-align: center;
	line-height: 100px;
}

.hetong>h2,.hetong>h3{
	display: flex;
	justify-content: space-around;
	line-height: 24px;
	font-size: 16px
}
.hetong>div{
	margin: 30px auto
}
.hetong strong{
	font-size: 12px;
	line-height: 30px;
	padding-top: 30px;
}
.hetong .hetongTxt{
	margin: 0 auto;
	font-size: 14px;
}


.xuzhi h1{
	line-height: 50px;
	margin-bottom: 20px;
}
.xuzhi>p{
	font-size: 14px;
	line-height: 30px;
}
.xuzhi>p strong{
	padding-right: 5px;
}

.yuyue>p{
	line-height: 40px;
	font-size: 18px;
}
.yuyueF{
	padding-top: 50px;
}


.carShow>p{
	font-size: 14px;
	line-height: 30px;
}
