.home-top{
	display: flex;
	justify-content:space-between;
}
.logo{
	padding-left: 30px;
}
.tel{
	line-height: 80px;
	padding-right: 40px;
	font-size: 20px;
}

.ant-carousel .slick-slide{
  height: 300px;
}
.ant-carousel .slick-slide img{
	width: 100%;
	height: 100%;
}



.car{
  text-align: center;
}
.car>h1{
  padding-top: 30px;
}
.car>h3{
  line-height: 40px;
  margin-bottom: 20px;
  font-style:oblique;
  font-size: 14px;
}




