.serve-wrap{
	margin-top: 20px;
}
.serve{
	width: 90%;
	margin: 0 auto;
}
.serve>*{
	text-align: center;
}
.title{
	font-size: 30px;
	text-align: center;
	color:#2a333c;
	margin-top: 50px;
}
.solgan{
	text-align: center;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	font-style:oblique
}
@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.eot');
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.ant-row-flex-space-around{
	width: 90%;
	margin: 0 auto;
}
.iconFont{
	font-size: 60px;
	line-height: 100px;
	padding-top: 30px;
	display: block;
	width: 80%;
	height: 240px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	transition:all 0.5s;
	background-color: #f5f5f5;
	border-radius: 10px;
}
.geren{
	color:#c39ee3;
}
.geren:hover{
	background-color:#c39ee3;
}
.bangongshi{
	color: #36dbd4;
}
.bangongshi:hover{
	background-color: #36dbd4;
}
.changtu{
	color: #0362b2;
}
.changtu:hover{
	background-color: #0362b2;
}
.kongtiao{
	color: #f7cf39;
}
.kongtiao:hover{
	background-color: #f7cf39;
}
.qizhong{
	color: #6ae000;
}
.qizhong:hover{
	background-color: #6ae000;
}
.jiaju{
	color: #ff6583;
}
.jiaju:hover{
	background-color: #ff6583;
}
.baojie{
	color: #e0b96c;
}
.baojie:hover{
	background-color: #e0b96c;
}
.cangku{
	color: #ec3a36;
}
.cangku:hover{
	background-color: #ec3a36;
}
.iconFont>p{
	line-height: 30px;
}
.iconFont>p>span{
	font-size:20px;
	line-height: 20px;
}
.iconFont:hover{
	color: #e5e5e5;
	font-size: 70px;
}