.intro-wrap{
	margin-top: 40px;
}
.intro{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content:space-around;
}
.user{
	width: 25%;
	border:1px solid #ccc;
}
.user>h3,.news>h3,.intro-tel>h3{
	font-size: 16px;
	border-left: 3px solid #82DEF1;
	line-height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	text-indent: 5px
}
.intro-nav{
	margin-top: 30px;
	margin-bottom: 30px;
}
.intro-nav>ul{
	display: flex;
	justify-content:space-around;
	margin-top: 20px;	
}
.intro-nav>ul>li{
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}
.intro-nav>ul>li a{
	color: gray;
}

.intro-tel{
	width: 25%;
	border: 1px solid #ccc;
}
.news{
	width: 45%;
	border: 1px solid #ccc;
}

.car{
	margin-top: 30px;
}



@keyframes moveup{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.box{
	animation: moveup 20s linear infinite;
}
.page{
	overflow: hidden;
}


.page{
	margin-top: 20px;
	height: 240px;
}
.box{
	margin: 0;
}
.box li{
	line-height: 30px;
	text-indent: 30px;
}